/* src/components/Header/Header.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    position: relative;
    width: calc(100%);
  }
  
  .menu-icon {
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    display: none; /* Hide on larger screens */
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .profile {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .profile input {
    border: none;
    outline: none;
    padding: 10px 20px;
    background: #d9d9d91e;
    border-radius: 20px;
    color: #fff;
  }
  
  .profile input::placeholder {
    color: #fff;
  }
  
  .profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  /* Responsive styling for the menu */
  
  @media (max-width: 768px) {
    .navbar {
      display: none; /* Hide navbar by default on smaller screens */
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      padding: 10px;
      text-align: center;
    }
  
    .navbar.open {
      display: block; /* Show navbar when menu is open */
    }
  
    .navbar ul {
      flex-direction: column;
      gap: 15px;
    }
  
    .menu-icon {
      display: block; /* Show menu icon on smaller screens */
    }
  }
  