/* src/components/Header/Header.css */
.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: transparent;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    gap: 15px;
  }
  
  .profile {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .profile-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  