/* src/App.css */
.app {
    color: white;
    font-family: Arial, sans-serif;
    background: linear-gradient(230deg, #0000005a, #010101ac), url('./assets/bg.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100dvh);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 30px;

  }
  .movie-section {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .movie-grid {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  