/* src/components/MovieCards/MovieCard.css */
.movie-card {
    width: 250px;
    text-align: center;
  }
  
  .movie-card img {
    width: 100%;
    border-radius: 8px;
  }
  
  .movie-card p {
    margin-top: 8px;
    color: white;
  }
  