/* src/components/Banner/Banner.css */
.banner {
    background-size: cover;
    color: white;
    padding: 60px 20px;
  }
  
  .banner-content {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
  }
  .banner-content h1{
    font-size: 6.5rem;
  }
  .banner-content p span{
    color: #03ca0e;
  }
  
  .banner-buttons {
    display: flex;
    gap: 10px;
  }
  